<script setup lang="ts">
import LeaderboardView from "./components/leaderboard-view.vue"
import QuestionAnswer from "./components/question-answer.vue"
import ScoreView from "./components/score-view.vue"
import SplashScreen from "./components/splash-screen.vue"
import { useQuestAndAnswer } from './stores'

type ViewRenderMapType = {
  [key: string]: ReturnType<typeof defineComponent>
}

const state = useQuestAndAnswer()

const viewRenderMap: ViewRenderMapType = {
  splash: SplashScreen,
  questions: QuestionAnswer,
  score: ScoreView,
  leaderboard: LeaderboardView
}

/**
 * This component acts as the main entry point for the quiz application.
 * It handles the rendering of different components based on the current state of the quiz.
**/
</script>

<template>
  <div class="App">
    <transition name="slide-fade" mode="out-in">
      <component :is="viewRenderMap[state.viewRender]" />
    </transition>
  </div>
</template>

<style lang="scss" scoped>
@import './assets/css/main.scss';
</style>