<script setup lang="ts">
import { onMounted, computed } from 'vue'
import { useQuestAndAnswer } from '../stores'

const state = useQuestAndAnswer()

const usersRankByScore = computed(
  () => state.users.sort((a: any, b: any) => b.finalScore - a.finalScore)
)

const onResetGame = (): void => {
  state.onChangeRender('splash')
}

onMounted(() => {
  state.onScoreEvaluate()
})
</script>

<template>
  <ul class="LeaderboardView">
    <h1 class="LeaderboardView__title">Leaderboard</h1>
    <li class="LeaderboardView__item" v-for="user in usersRankByScore" :key="user.id">
      <p class="LeaderboardView__item--id">{{ user.id }}</p>
      <NuxtImg class="LeaderboardView__item--image" :src="user.imgUrl" :alt="user.name" width="50" height="50"
        placeholder="placeholder-user.jpg" />
      <p class="LeaderboardView__item--name">{{ user.name }}</p>
      <p class="LeaderboardView__item--score">{{ user.finalScore }}</p>
    </li>
    <button class="LeaderboardView__btn" @click="onResetGame">New Game</button>
  </ul>
</template>

<style lang="scss" scoped>
@import '../assets/css/main.scss';

.LeaderboardView {
  @include flex-container(column);
  margin: 0;
  padding: 0 30px;
  height: 100vh;
  overflow-y: auto;

  &__item {
    @include flex-container(row, inherit, center, 20px);
    @include regular-dim(calc(100% - 40px), 60px);
    padding: 0 20px;
    background-color: $white-color;
    box-shadow: $black-box-shadow;
    border-radius: $regular-border-radius;
    font-size: 1.2rem;

    &--id {
      width: 10px;
      font-size: 0.9rem;
    }

    &--image {
      width: 50px;
      background-color: rgba(0, 255, 89, 0.279);
      border-radius: 100%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    }

    &--name {
      font-weight: bold;
    }

    &--score {
      margin: 0 0 0 auto;
      padding: 4px 12px;
      border-radius: $regular-border-radius;
      font-size: 1rem;
      background-color: $light-grey;
    }
  }
}

@media (min-width: 1024px) {
  .LeaderboardView {
    @include flex-container(column, inherit, center, 20px);
    width: 100%;
    min-height: 80vh;

    &__title {
      width: 100%;
    }
  }
}
</style>