<script setup lang="ts">
import { useQuestAndAnswer } from '../stores'
import { useBackgroundScroll } from '../composables/useBackgroundScroll'
import type { Choice } from '../types'

const state = useQuestAndAnswer()
const { updateBackgroundPosition } = useBackgroundScroll()

const onSelectChoice = (choice: Choice) => {
  state.onQuestionSubmit(choice)
  updateBackgroundPosition(-20)
}
</script>

<template>
  <section class="QuestionAnswer">
    <transition name="parallax" mode="out-in">
      <div class="QuestionAnswer__content" :key="state.actualQuestion.id">
        <div class="QuestionAnswer__content--image">
          <NuxtImg class="LeaderboardView__item--image" :src="state.actualQuestion.imgUrl"
            :alt="state.actualQuestion.question" placeholder="placeholder.png" />
        </div>
        <div class="QuestionAnswer__content--text">
          <p class="QuestionAnswer__content--text-info">{{ `question ${state.actualQuestion.id} of ${state.quantity}` }}
          </p>
          <h1 class="QuestionAnswer__content--text-question">{{ state.actualQuestion.question }}</h1>
          <ul class="QuestionAnswer__content--text-list">
            <li v-for="choice in state.actualQuestion.choices" :key="choice.id" @click="onSelectChoice(choice)">
              {{ choice.value }}
            </li>
          </ul>
        </div>
      </div>
    </transition>
  </section>
</template>

<style lang="scss" scoped>
@import '../assets/css/main.scss';

.QuestionAnswer {
  padding: 0 30px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  &__content {
    &--image {
      text-align: center;
      padding: 40px 0;

      img {
        width: 220px;
        height: 220px;
      }
    }

    &--text {
      &-info {
        color: $mid-grey;
      }

      &-question {
        font-size: 2rem;
        height: 100px;
        margin: 10px 0 40px;
      }

      &-list {
        @include flex-container(column, center, center, 20px);
        padding: 0;

        li {
          @include flex-container(column, center, center);
          @include regular-dim(100%, 50px);

          background-color: $white-color;
          box-shadow: $black-box-shadow;
          border-radius: $regular-border-radius;
          font-size: 1.2rem;
          font-weight: bold;
          transition: all 0.35s;
          cursor: pointer;

          &:active {
            @include active-effect;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .QuestionAnswer {
    @include flex-container(column, center, center);
    width: calc(100vw - 30px);

    &__content {
      @include flex-container(row, center, center, 20px);

      &--image {
        width: 40%;

        img {
          height: 260px;
          width: 260px;
        }
      }

      &--text {
        width: 60%;

        &-question {
          width: auto;
        }

        &-list {
          li {
            &:hover {
              @include hover-effect;
            }

            &:active {
              @include active-effect;
            }
          }
        }
      }
    }
  }
}
</style>