<script setup lang="ts">
import { computed } from 'vue'
import { useQuestAndAnswer } from '../stores'

const state = useQuestAndAnswer()

const userScorePercentile = computed(state.calculateUserScorePercentile)

const onOpenLeaderboard = (): void => {
  state.onChangeRender('leaderboard')
}

</script>

<template>
  <ul class="ScoreView">
    <h1 class="ScoreView__title">Your score: {{ state.onScoreEvaluate() }}</h1>
    <strong v-if="userScorePercentile">{{ userScorePercentile }}</strong>
    <button class="ScoreView__btn" @click="onOpenLeaderboard">Go to results</button>
    <li class="ScoreView__item" v-for="userAnswer in state.currentUser?.answers" :key="userAnswer.id">
      <p class="ScoreView__item--text">{{ userAnswer.question }} <strong>{{ userAnswer.correctAnswer
      }}</strong></p>
      <div class="ScoreView__item--status"
        :class="[userAnswer.answer === userAnswer.correctAnswer ? 'active' : 'passive']">
        {{ userAnswer.answer }}
      </div>
    </li>
  </ul>
</template>

<style lang="scss">
@import '../assets/css/main.scss';

.ScoreView {
  @include flex-container(column, inherit, inherit, 10px);
  height: 100vh;
  padding: 0 30px;
  list-style-type: none;
  overflow-y: auto;

  &__item {
    &--status {
      @include flex-container(row, center, center);
      @include regular-dim(100%, 50px);
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  &__btn {
    margin: auto 0 20px 0;
    transition: background-color 0.35s;
  }
}

.active {
  border-bottom: 2px solid $correct-answ-color;
  color: $correct-answ-color;
}

.passive {
  border-bottom: 2px solid $wrong-answ-color;
  color: $wrong-answ-color;
}

@media (min-width: 1024px) {
  .ScoreView {
    position: relative;
    width: 100%;

    &__btn {
      @include regular-dim(110px, 110px);

      position: absolute;
      top: 8px;
      right: 50px;
      border-radius: 100%;
      font-size: 0.8rem;
    }
  }
}
</style>