<script setup lang="ts">
import { ref } from "vue"
import { useQuestAndAnswer } from '../stores'

const state = useQuestAndAnswer();

const inputEl = ref<string>("")

const onHandleSubmit = (event: Event) => {
  event.preventDefault()
  state.onStartNewGame(inputEl.value)
  state.onChangeRender('questions')
}

const words = ['StArT', 'NeW', 'GaMe']
</script>

<template>
  <div class="SplashScreen">
    <p class="SplashScreen__info">Answer quickly for more points!</p>
    <div class="SplashScreen__text">
      <div v-for="(word, index) in words" :key="index" class="textMovement" :class="`text-${index + 1}`">
        <span v-for="char in word" :key="char">{{ char }}</span>
      </div>
    </div>
    <form class="SplashScreen__form" @submit="onHandleSubmit">
      <input type="text" v-model="inputEl" placeholder="Your name..." required>
      <input type="submit" value="Start">
    </form>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/css/main.scss';

.SplashScreen {
  @include flex-container(column, center, center, 40px);
  @include regular-dim(100%, 100vh);
  font-size: 1rem;

  &__info {
    color: $mid-grey;
  }

  &__text {
    .textMovement {
      color: transparent;
      line-height: 1.5;
      text-align: center;
    }

    .textMovement span {
      font-family: 'Press Start 2P', system-ui;
      font-size: 4rem;
      text-shadow: 1px 1px $dark-grey;
      animation: move 3.5s ease-in-out infinite;
    }

    .textMovement span:nth-child(2) {
      animation-delay: 0.5s;
    }

    .textMovement span:nth-child(3) {
      animation-delay: 1s;
    }

    .textMovement span:nth-child(4) {
      animation-delay: 1.5s;
    }

    .textMovement span:nth-child(5) {
      animation-delay: 2s;
    }

    .textMovement span:nth-child(6) {
      animation-delay: 2.5s;
    }

    .textMovement span:nth-child(7) {
      animation-delay: 3s;
    }
  }

  &__form {
    @include flex-container(column);
  }
}
</style>

