@import './variables.scss';

/// Mixin for creating a flex container with customizable properties
/// @param $dir - The flex direction (default: row)
/// @param $justify - The justify-content value (default: flex-start)
/// @param $align - The align-items value (default: flex-start)
/// @param $gap - The gap between flex items (default: 10px)
/// @param $wrap - The flex-wrap value (default: nowrap)
@mixin flex-container($dir: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: 10px,
  $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

/// Mixin for setting regular dimensions to an element
/// @param $width - The width of the element (default: 300px)
/// @param $height - The height of the element (default: 50px)
@mixin regular-dim($width: 300px, $height: 50px) {
  width: $width;
  height: $height;
}

/// Mixin for hover effect
///  @param $bg-color - The container background color (default: $light-grey)
///  @param $color - The container color (default: $brand-color)
@mixin hover-effect($bg-color: $light-grey, $color: $brand-color) {
  background-color: $bg-color;
  color: $color;
}

/// Mixin for active effect
///  @param $bg-color - The container background color (default: $light-grey)
///  @param $color - The container color (default: $brand-color)
@mixin active-effect($bg-color: $brand-color, $color: $light-grey) {
  background-color: $bg-color;
  color: $color;
}