/// COLOURS
/// Copy text color
/// @type Color
$text-color: #2e2e2e !default;

/// Main brand color
/// @type Color
$brand-color: #0099ff !default;

/// White color
/// @type Color
$white-color: #fff !default;

/// Light grey
/// @type Color
$light-grey: #ededed !default;

/// Medium grey
/// @type Color
$mid-grey: #999999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444444 !default;

/// Copy text color aplha
/// @type Color
$text-color-alpha: rgba(34, 34, 34, 0) !default;

/// Main brand color alpha
/// @type Color
$brand-color-alpha: #0099ff59 !default;

/// Correct answer color
/// @type Color
$correct-answ-color: #269841 !default;

/// Wrong answer color
/// @type Color
$wrong-answ-color: #b93015 !default;

/// Main box shadow color
/// @type Color
$black-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35) !default;

/// Main gradient color
/// @type Color
/// background: rgb(255,255,255);
$main-bg-color: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);

/// FONTS
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// DIMENSIONS
/// Regular border radius
/// @type Border Radius
$regular-border-radius: 10px;