@import './variables.scss';
@import './mixins.scss';

body {
  margin: 0;
  background: $main-bg-color;
  color: $text-color;
  font-family: 'Lato', sans-serif;
  height: 100vh;

  background-image: url('~/assets/images/bg.png');
  background-size: cover;
  background-repeat: repeat;
  z-index: -1;
  transition: background-position 1s;

  input {
    @include flex-container(column, center, center);
    @include regular-dim;
    padding-left: 20px;
    background-color: $white-color;
    border: 0;
    border-radius: $regular-border-radius;
    box-shadow: $black-box-shadow;
    font-size: 1rem;
    font-weight: bold;
  }

  button,
  input[type="submit"] {
    @include regular-dim(100%, 50px);
    padding: 20px;
    border-radius: $regular-border-radius;
    border: 0;
    background-color: $brand-color;
    box-shadow: $black-box-shadow;
    color: $light-grey;
    font-weight: bold;
    transition: background-color 0.35s;
    cursor: pointer;
    text-transform: uppercase;

    &:active {
      background-color: $light-grey;
      color: $brand-color;
    }
  }
}

@media (min-width: 1024px) {
  body {
    @include flex-container(row, center, center);
    margin: auto;

    input {
      @include regular-dim(400px, 40px);
      font-size: 0.9rem;
    }

    button,
    input[type="submit"] {
      &:hover {
        @include hover-effect;
      }

      &:active {
        @include active-effect;
      }
    }
  }
}

// Effects and animations

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.parallax-enter-active,
.parallax-leave-active {
  transition: transform 0.35s ease-out, opacity 0.35s ease-out;
}

.parallax-enter-from {
  transform: translate(100%);
  opacity: 0;
}

.parallax-enter-to {
  transform: translate(0);
  opacity: 1;
}

.parallax-leave-from {
  transform: translate(0);
  opacity: 1;
}

.parallax-leave-to {
  transform: translate(-100%);
  opacity: 0;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    text-shadow: 0 16px 18px $text-color-alpha;
  }

  100% {
    transform: translate(50%, 0);
  }
}